.container{
  border: 2px solid red;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.flex-container{
border: 2px solid blue;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
  padding: 20px;
justify-content: space-around;
}
.flex-container img{
  border: 2px solid green;
  padding: 10px;
}
